backports.tarfile
fqdn
importlib-metadata
isoduration
jaraco.collections
jsonpointer
jupyter
kagglehub
nltk
pip-chill
scikit-learn
seaborn
tensorflow[and-cuda]
tinycss2
tomli
tweepy
uri-template
webcolors
